PORT = 3000

DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/votium?schema=public"

JWT_SECRET = my_jwt_secret # Change this to a strong secret in production
JWT_EXPIRES_IN = 3600000 # 1 hour in milliseconds, adjust as needed